@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
body{
  background: rgba(39, 39, 39, 0.4);
  background: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container{
  display: flex;
}

.logout{
  position: absolute;
  bottom: 0;
}

nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 240px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

a.nav-link {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
a:hover{
  background: #eee;
}


/* Main Section */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  width: 512px;
}

.profile-container {
  width: 100%;
}

.profile-container header {
  color: #000;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

a.nav-item{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  width: 240px;
  display: table;
  padding: 10px;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.profile-item strong {
  font-size: 16px;
}

.profile-item span {
  font-size: 16px;
  margin-right: 10px;
}

.profile-item i {
  color: #e53935;
  cursor: pointer;
}

.profile-item i:hover {
  color: #ff5252;
}

.delete-btn {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 0, 0, 0.7);
  cursor: pointer;
  transition: .3s ease-in-out;
  margin-top: 20px;
}

.delete-btn:hover {
  background: rgba(255, 0, 0, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
