/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgba(39, 39, 39, 0.4);
  background: url("/assets/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
}

.logout {
  position: absolute;
  bottom: 0;
}

nav {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 240px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

a.nav-link {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.nav-item {
  position: relative;
  top: 12px;
  margin-left: 10px;
}

a:hover {
  background: #eee;
}

/* Main Section */
.main {
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.user-management-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  width: 100%;
}

.user-list {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.create-product, .create-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.create-product {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.create-user {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.edit-user-form {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.user-list h2 {
  color: #000;
  font-size: 24px;
  text-align: center;
  padding: 10px 0 20px 0;
}

.create-product h2, .create-user h2 {
  color: #000;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.edit-user-form h3 {
  color: #000;
  font-size: 20px;
  text-align: center;
  padding: 10px 0 20px 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(85, 83, 83);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.btn {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-sm {
  font-size: 14px;
}

.btn-primary {
  background-color: rgb(85, 83, 83);
  color: white;  
}

.btn-primary:hover {
  background-color: rgb(66, 65, 65);
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #b21f2d;
}

.btn-orange {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: orangered;
  color: white;
  cursor: pointer;
}

.btn-orange:hover {
  background-color: #ff4500;
}
