<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Page Not Found</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <section class="main">
      <div class="error-container">
        <header>404 - Page Not Found</header>
        <p>La page que vous recherchez n'existe pas.</p>
        <a routerLink="/dashboard" class="btn">Retourner au Tableau de bord</a>
      </div>
    </section>
  </div>
</body>
</html>
